:root{--OneColor: #000;--TwoColor: #fff;--ThreeColor:#E3F988;--FourColor: #BFE833;--FiveColor: #dddddd;--SixColor: #323232;}

body{
    font-family: 'Inter';
    background: var(--OneColor);
}
a{
    text-decoration: none;
}
p, h1, h2, h3, h4, h5, h6, ul{
    margin: 0;
    padding: 0;
}

/* inter*/
@font-face{font-display:swap;font-family:Inter;font-style:normal;font-weight:100;src:url('../fonts/inter-v20-latin-100.woff2') format('woff2')}@font-face{font-display:swap;font-family:Inter;font-style:italic;font-weight:100;src:url('../fonts/inter-v20-latin-100italic.woff2') format('woff2')}@font-face{font-display:swap;font-family:Inter;font-style:normal;font-weight:200;src:url('../fonts/inter-v20-latin-200.woff2') format('woff2')}@font-face{font-display:swap;font-family:Inter;font-style:italic;font-weight:200;src:url('../fonts/inter-v20-latin-200italic.woff2') format('woff2')}@font-face{font-display:swap;font-family:Inter;font-style:normal;font-weight:300;src:url('../fonts/inter-v20-latin-300.woff2') format('woff2')}@font-face{font-display:swap;font-family:Inter;font-style:italic;font-weight:300;src:url('../fonts/inter-v20-latin-300italic.woff2') format('woff2')}@font-face{font-display:swap;font-family:Inter;font-style:normal;font-weight:400;src:url('../fonts/inter-v20-latin-regular.woff2') format('woff2')}@font-face{font-display:swap;font-family:Inter;font-style:italic;font-weight:400;src:url('../fonts/inter-v20-latin-italic.woff2') format('woff2')}@font-face{font-display:swap;font-family:Inter;font-style:normal;font-weight:500;src:url('../fonts/inter-v20-latin-500.woff2') format('woff2')}@font-face{font-display:swap;font-family:Inter;font-style:italic;font-weight:500;src:url('../fonts/inter-v20-latin-500italic.woff2') format('woff2')}@font-face{font-display:swap;font-family:Inter;font-style:normal;font-weight:600;src:url('../fonts/inter-v20-latin-600.woff2') format('woff2')}@font-face{font-display:swap;font-family:Inter;font-style:italic;font-weight:600;src:url('../fonts/inter-v20-latin-600italic.woff2') format('woff2')}@font-face{font-display:swap;font-family:Inter;font-style:normal;font-weight:700;src:url('../fonts/inter-v20-latin-700.woff2') format('woff2')}@font-face{font-display:swap;font-family:Inter;font-style:italic;font-weight:700;src:url('../fonts/inter-v20-latin-700italic.woff2') format('woff2')}@font-face{font-display:swap;font-family:Inter;font-style:normal;font-weight:800;src:url('../fonts/inter-v20-latin-800.woff2') format('woff2')}@font-face{font-display:swap;font-family:Inter;font-style:italic;font-weight:800;src:url('../fonts/inter-v20-latin-800italic.woff2') format('woff2')}@font-face{font-display:swap;font-family:Inter;font-style:normal;font-weight:900;src:url('../fonts/inter-v20-latin-900.woff2') format('woff2')}@font-face{font-display:swap;font-family:Inter;font-style:italic;font-weight:900;src:url('../fonts/inter-v20-latin-900italic.woff2') format('woff2')}

/* navbar css start  */
.custom_nav {
    border-bottom: 1px solid var(--SixColor);
    background: #0e0e0e;
}
.custom_nav .navbar-brand img {
    width: 12%;
}
.custom_nav .navbar-nav li a {
    color: var(--FiveColor) !important;
        font-size: 14px;
    padding: 5px 20px !important;
}
.custom_nav .navbar-nav li a.active, .custom_nav .navbar-nav li a:hover{color: var(--ThreeColor) !important;}
.custom_nav .navbar-brand {
    display: flex;
    color: var(--TwoColor);
    align-items: center;
    gap: 15px;
}

.custom_nav .navbar-brand h4 {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-weight: 400;
}

.custom_nav .navbar-brand h4 span {
    color: var(--FiveColor);
    font-size: 12px;
}

/* button style  */
.border_btn {
    background: transparent;
    color: var(--FiveColor);
    border: 2px solid var(--FiveColor);
    transition: 0.2s ease-in-out;
}
.border_btn:hover{
  transition: 0.2s ease-in-out;
  border-color: var(--ThreeColor);
  color: var(--TwoColor);
}
.coman_btn{
  position: relative;
    border-radius: 50px;
    padding: 8px 25px;
    font-size: 14px;
}

.icon_btn {
    display: flex;
    align-items: center;
    gap: 5px;
}

.icon_btn span {
    font-size: 18px;
}
.btn_dots_style {
    position: relative;
    padding: 8px 20px 8px 30px;
}
.btn_dots_style:after {
    content: "";
    position: absolute;
    left: 14px;
    background: var(--FourColor);
    width: 7px;
    height: 7px;
    border-radius: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.btn_dots_style:before {
    content: "";
    position: absolute;
    left: 10px;
    background: var(--FiveColor);
    width: 14px;
    border-radius: 100%;
    top: 50%;
    height: 14px;
    transform: translateY(-50%);
    opacity: 0.2;
}
.pheragrap_content p {
    font-size: 16px;
    color: var(--FiveColor);
}

.pheragrap_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 70px);
}

.btn_combine {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 20px 0;
}

.solid_btn {
    background: var(--FourColor);
    border: 2px solid var(--ThreeColor);
    transition: 0.2s ease-in-out;
}

.solid_btn:hover {
    transition: 0.2s ease-in-out;
    background: transparent;
    color: var(--TwoColor);
}

/* hero banner css start  */
.main_hero_section_bg
 {
    background: #0e0e0e;
    background-size: cover;
    background-repeat: no-repeat;
}

.spacing_banner {
    padding: 100px 0 20px 0;
}

.my_self h5 {
    font-size: 14px;
    color: var(--FiveColor);
    background: #222320;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 100px;
    border: 1px solid var(--SixColor);
    text-transform: uppercase;
}

.flex_title_contact_details {
    display: flex;
    gap: 50px;
    padding: 20px 0;
}

.flex_title_contact_details h2 {
    font-size: 55px;
    color: var(--TwoColor);
}

.flex_title_contact_details h2 span {
    background: -webkit-linear-gradient(70deg, var(--TwoColor) 20%, var(--FourColor));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cont_detl {
    display: flex;
    flex-direction: column;
}

.cont_detl a {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 15px 0;
    color: var(--FiveColor);
    border-bottom: 1px solid var(--SixColor);
    transition: 0.2s ease-in-out;
}
.cont_detl a:nth-child(1){padding-top: 0;}
.cont_detl a:nth-last-child(1) {
    border: 0;
}

.cont_detl a:hover {
    transition: 0.2s ease-in-out;
    color: var(--ThreeColor);
}

/* profile  */
.bg_profile_image {
    background: var(--ThreeColor);
    border-radius: 30px;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    height: calc(100% - 50px);
    position: relative;
}

.bg_profile_image img {
    width: 60%;
    height: 400px;
    position: relative;
    top: -25px;
    filter: brightness( 100% ) contrast( 100% ) saturate( 0% ) blur( 0px ) hue-rotate( 0deg );
    object-fit: cover;
    object-position: top;
}
.disply_spec {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.left_sepc_parent {
    display: flex;
    position: absolute;
    top: 0;
    left: 20px;
}

.disply_spec svg {
    width: 20px;
    fill: var(--FourColor);
}

.disply_spec p {
    background: var(--TwoColor);
    border: 1px solid var(--FourColor);
    padding: 5px 20px;
    border-radius: 100px;
    font-size: 12px;
    color: var(--OneColor);
    font-weight: 500;
}

.left_sepc_parent svg {
    position: relative;
    top: -20px;
}

.right_sepc_parent {
    display: flex;
    position: absolute;
    top: 60px;
    right: 20px;
}

.right_sepc_parent svg {
    position: relative;
    top: -20px;
    rotate: -90deg;
}

.botm_left_sepc_parent {
    display: flex;
    position: absolute;
    top: 100px;
    left: 70px;
}

.botm_left_sepc_parent svg {
    position: relative;
    top: -20px;
}
.follow_link {
    display: flex;
    align-items: center;
    gap: 20px;
}

.icons_follow a img {
    width: 40px;
    background: var(--ThreeColor);
    padding: 10px;
    object-fit: contain;
    height: 40px;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
}

.icons_follow a img:hover {
    margin-top: -10px;
    transition: 0.2s ease-in-out;
    box-shadow: 0px 5px 12px var(--FourColor);
}

/* start what i do sec css  */
.inner_sec_spacing{padding: 40px 0 0 0;}
.center_heading {
    text-align: center;
}
.inner_heding_size h2
 {
    font-size: 40px;
}
.center_heading .flex_title_contact_details {
    display: block;
}
.grid_what_i_do {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    gap: 20px;
}

.inner_card {
    background: #11120f;
    border-radius: 20px;
    padding: 30px !important;
    height: 100%;
}

.image_arrow {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.image_arrow img {
    width: 60px;
}

.image_arrow span {
    border: 2px solid var(--SixColor);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--ThreeColor);
    rotate: -40deg;
    transition: 0.2s ease-in-out;
}

.content_card {
    text-align: start;
    color: var(--TwoColor);
    padding: 30px 0 0 0;
}

.content_card p {
    color: var(--FiveColor);
    font-size: 14px;
}

.content_card h4 {
    font-weight: 400;
    padding: 0 0 10px 0;
}

.image_arrow span:hover {
    transition: 0.2s ease-in-out;
    border-color: var(--ThreeColor);
    rotate: 0deg;
    cursor: pointer;
}

.col_span_2 {
    grid-column: span 2;
}
.view_services {
    display: flex;
    align-items: end;
    margin-top: 30px;
}

/* start about me css */
.min_width_set{min-width: fit-content;}
.grid_four{grid-template-columns: repeat(4, 1fr);display: grid;gap: 20px;}
.col_span_3{grid-column: span 3;}
.about_image_inner_bg {
    background: var(--ThreeColor);
    height: 100%;
    border-radius: 20px;
}

.about_image_inner_bg img {
    width: 100%;
    height: 257px;
    object-fit: cover;
    object-position: top;
}

/* work exprience  */

.grid_two {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.exprience_list {
    padding: 30px 0 0 0;
}

.list_inner {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 30px 0;
}

.list_inner img {
    width: 40px;
}

.flex_content_name {
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100%;
}

.content_name h3 {
    font-size: 16px;
}

.content_name span {
    font-size: 14px;
    color: var(--FiveColor);
}

.exprience_list .list_inner {
    border-bottom: 1px solid var(--SixColor);
}

.exprience_list .list_inner:nth-last-child(1) {
    border-bottom: 0;
}

.content_name {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.date_range p {
    border: 1px solid gray;
    padding: 5px 15px;
    border-radius: 100px;
    color: var(--FiveColor);
    font-size: 12px;
}

.tool_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 60px 0 0 0;
}

.tool_inner img {
    width: 50px;
}

.tool_inner {
    background: var(--OneColor);
    border-radius: 20px;
    padding: 20px 30px;
    text-align: center;
}

/* counter  */
.counter-box .counter {font-size: 54px;font-weight: 600; color: var(--TwoColor);}

.counter-box .counter-title {
    font-size: 18px;
    color: var(--FiveColor);
    font-weight: 500;
}

.counter-box {
    text-align: center;
    padding: 80px 0 !important;
}

/* i have work on css  */
.items_image img {
    filter: brightness( 100% ) contrast( 100% ) saturate( 0% ) blur( 0px ) hue-rotate( 0deg );
    border: 1px solid var(--SixColor);
    border-radius: 20px;
    width: 100px;
    height: 80px;
    padding: 8px 20px;
    object-fit: contain;
    background: #121212;
    transition: 0.2s ease-in-out;
}

.items_image:hover img {
    filter: none;
    background: var(--TwoColor);
    transition: 0.2s ease-in-out;
}

#work-on {
    margin: 40px 0 0 0;
}